/**
 * Checkboxes, Radios and Switches
 */

// Icon variables
$checkbox-checked-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
$checkbox-indeterminate-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");

// Labels with checkbox/radio inputs
label:has([type="checkbox"], [type="radio"]) {
  width: fit-content;
  cursor: pointer;
}

// Base styles for checkboxes and radios
[type="checkbox"],
[type="radio"] {
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  margin-top: -0.125em;
  margin-inline-end: 0.5em;
  border: 1px solid #c0c0c0;
  background-color: #fff;
  vertical-align: middle;
  cursor: pointer;

  // Labels following inputs
  ~ label {
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-inline-end: 1em;
    }
  }
}

// Checkbox specific styles
[type="checkbox"] {
  // Checked state
  &:checked {
    background: #1b6ec2 $checkbox-checked-icon center / 0.75em no-repeat;
    border-color: #1b6ec2;
  }

  // Indeterminate state
  &:indeterminate {
    background: #1b6ec2 $checkbox-indeterminate-icon center / 0.75em no-repeat;
    border-color: #1b6ec2;
  }
}

// Radio button styles
[type="radio"] {
  border-radius: 50%;

  // Checked state
  &:checked {
    background-color: #fff;
    border: 0.35em solid #1b6ec2;
  }
}

// Switch styles
[type="checkbox"][role="switch"] {
  width: 2.25em;
  height: 1.25em;
  border: 1px solid #adb5bd;
  border-radius: 1.25em;
  background-color: #adb5bd;

  // Switch toggle
  &::before {
    content: "";
    display: block;
    aspect-ratio: 1;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
    transition: margin 0.1s ease-in-out;
  }

  // Focus state
  &:focus {
    outline: 2px solid #1b6ec2;
    outline-offset: 2px;
  }

  // Checked state
  &:checked {
    background-color: #1b6ec2;
    border-color: #1b6ec2;

    &::before {
      margin-inline-start: calc(2.25em - 1.25em);
    }
  }

  // Disabled state
  &:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
    opacity: 0.6;
  }
}