/**
 * Input type color
 */

// Base color input styles
[type="color"] {
    width: 3rem;
    height: 2.5rem;
    padding: 0.25rem;
    border: 1px solid #c0c0c0;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
    vertical-align: middle;
  
    // Webkit (Chrome, Safari, Edge) - Color swatch wrapper
    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  
    // Webkit (Chrome, Safari, Edge) - Color swatch
    &::-webkit-color-swatch {
      border: 0;
      border-radius: 0.125rem;
    }
  
    // Firefox - Color swatch
    &::-moz-color-swatch {
      border: 0;
      border-radius: 0.125rem;
    }
  
    // Focus state
    &:focus {
      border-color: #1b6ec2;
      box-shadow: 0 0 0 0.125rem rgba(27, 110, 194, 0.25);
      outline: none;
    }
  
    // Disabled state
    &:disabled {
      background-color: #e9ecef;
      border-color: #dee2e6;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }