/**
 * Input type range
 */

// Mixins for cross-browser consistency
@mixin track-base {
  width: 100%;
  height: var(--spacing-03);
  border-radius: var(--radius-sm);
  background-color: var(--border-muted);
  transition: background-color var(--default-transition-duration) ease-in-out;
}

@mixin thumb-base {
  width: var(--spacing-07);
  height: var(--spacing-07);
  border: 2px solid var(--background);
  border-radius: 50%;
  background-color: var(--link);
  box-shadow: var(--content);
  cursor: pointer;
  transition: background-color var(--default-transition-duration) ease-in-out, transform var(--default-transition-duration) ease-in-out;
}

// Base range input styles
[type="range"] {
  appearance: none;
  width: 100%;
  height: 1.25rem;
  background: none;
  cursor: pointer;

  // Remove focus outline
  &:focus {
    outline: none;
  }

  // Track styles - Webkit (Chrome, Safari, Edge)
  &::-webkit-slider-runnable-track {
    @include track-base;
  }

  // Track styles - Firefox
  &::-moz-range-track {
    @include track-base;
  }

  // Thumb styles - Webkit (Chrome, Safari, Edge)
  &::-webkit-slider-thumb {
    appearance: none;
    @include thumb-base;
    margin-top: -0.4375rem;
  }

  // Thumb styles - Firefox
  &::-moz-range-thumb {
    @include thumb-base;
  }

  // Focus state - Track
  &:focus {
    &::-webkit-slider-runnable-track {
      background-color: var(--link);
    }

    &::-moz-range-track {
      background-color: var(--link);
    }
  }

  // Focus state - Thumb
  &:focus {
    &::-webkit-slider-thumb {
      background-color: var(--link-hover);
    }

    &::-moz-range-thumb {
      background-color: var(--link-hover);
    }
  }

  // Active state - Scale thumb
  &:active {
    &::-webkit-slider-thumb {
      transform: scale(1.25);
    }

    &::-moz-range-thumb {
      transform: scale(1.25);
    }
  }

  // Disabled state
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;

    &::-webkit-slider-runnable-track {
      background-color: var(--button-disabled);
      cursor: not-allowed;
    }

    &::-moz-range-track {
      background-color: var(--button-disabled);
      cursor: not-allowed;
    }

    &::-webkit-slider-thumb {
      background-color: var(--content-secondary);
      cursor: not-allowed;
    }

    &::-moz-range-thumb {
      background-color: var(--content-secondary);
      cursor: not-allowed;
    }
  }
}