/**
 * Input type range
 */

// Mixins for cross-browser consistency
@mixin track-base {
    width: 100%;
    height: 0.375rem;
    border-radius: 0.25rem;
    background-color: #c0c0c0;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @mixin thumb-base {
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #1b6ec2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
  }
  
  // Base range input styles
  [type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 1.25rem;
    background: none;
    cursor: pointer;
  
    // Remove focus outline (we'll add custom focus styles)
    &:focus {
      outline: none;
    }
  
    // Track styles - Webkit (Chrome, Safari, Edge)
    &::-webkit-slider-runnable-track {
      @include track-base;
    }
  
    // Track styles - Firefox
    &::-moz-range-track {
      @include track-base;
    }
  
    // Track styles - IE/Edge
    &::-ms-track {
      @include track-base;
      border-color: transparent;
      color: transparent;
    }
  
    // Thumb styles - Webkit (Chrome, Safari, Edge)
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include thumb-base;
      margin-top: -0.4375rem; // (thumb height - track height) / 2
    }
  
    // Thumb styles - Firefox
    &::-moz-range-thumb {
      @include thumb-base;
    }
  
    // Thumb styles - IE/Edge
    &::-ms-thumb {
      @include thumb-base;
      margin-top: 0;
    }
  
    // Active and Focus states - Track
    &:active,
    &:focus {
      &::-webkit-slider-runnable-track {
        background-color: #1b6ec2;
      }
  
      &::-moz-range-track {
        background-color: #1b6ec2;
      }
  
      &::-ms-track {
        background-color: #1b6ec2;
      }
    }
  
    // Active and Focus states - Thumb
    &:active,
    &:focus {
      &::-webkit-slider-thumb {
        background-color: #124d8e;
      }
  
      &::-moz-range-thumb {
        background-color: #124d8e;
      }
  
      &::-ms-thumb {
        background-color: #124d8e;
      }
    }
  
    // Active state - Scale thumb
    &:active {
      &::-webkit-slider-thumb {
        transform: scale(1.25);
      }
  
      &::-moz-range-thumb {
        transform: scale(1.25);
      }
  
      &::-ms-thumb {
        transform: scale(1.25);
      }
    }
  
    // Disabled state
    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
  
      &::-webkit-slider-runnable-track {
        background-color: #e9ecef;
        cursor: not-allowed;
      }
  
      &::-moz-range-track {
        background-color: #e9ecef;
        cursor: not-allowed;
      }
  
      &::-ms-track {
        background-color: #e9ecef;
        cursor: not-allowed;
      }
  
      &::-webkit-slider-thumb {
        background-color: #6c757d;
        cursor: not-allowed;
      }
  
      &::-moz-range-thumb {
        background-color: #6c757d;
        cursor: not-allowed;
      }
  
      &::-ms-thumb {
        background-color: #6c757d;
        cursor: not-allowed;
      }
    }
  }
  
  // Color variants - Success
  [type="range"][data-variant="success"] {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb {
      background-color: #28a745;
    }
  
    &:active,
    &:focus {
      &::-webkit-slider-runnable-track,
      &::-moz-range-track,
      &::-ms-track {
        background-color: #28a745;
      }
    }
  }
  
  // Color variants - Danger
  [type="range"][data-variant="danger"] {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb {
      background-color: #dc3545;
    }
  
    &:active,
    &:focus {
      &::-webkit-slider-runnable-track,
      &::-moz-range-track,
      &::-ms-track {
        background-color: #dc3545;
      }
    }
  }
  
  // Color variants - Warning
  [type="range"][data-variant="warning"] {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb {
      background-color: #ffc107;
    }
  
    &:active,
    &:focus {
      &::-webkit-slider-runnable-track,
      &::-moz-range-track,
      &::-ms-track {
        background-color: #ffc107;
      }
    }
  }