/**
 * Tooltip
 */

// Base tooltip styles
[data-tooltip] {
    position: relative;
  
    // Elements that aren't interactive get dotted underline
    &:not(a, button, input, [role="button"]) {
      border-bottom: 1px dotted;
      text-decoration: none;
      cursor: help;
    }
  
    // Tooltip bubble base
    &::before,
    &::after {
      display: block;
      z-index: 99;
      position: absolute;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }
  
    // Tooltip content
    &::before {
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      background: #212529;
      content: attr(data-tooltip);
      color: #fff;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    // Tooltip caret
    &::after {
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      content: "";
      color: #212529;
    }
  
    // Show tooltip on hover and focus
    &:focus,
    &:hover {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }
  
  // Placement variants
  [data-tooltip],
  [data-tooltip][data-placement="top"] {
    &::before,
    &::after {
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, -0.25rem);
    }
  
    &::after {
      transform: translate(-50%, 0);
      border-top: 0.3rem solid;
      border-right: 0.3rem solid transparent;
      border-left: 0.3rem solid transparent;
    }
  }
  
  [data-tooltip][data-placement="bottom"] {
    &::before,
    &::after {
      top: 100%;
      bottom: auto;
      left: 50%;
      transform: translate(-50%, 0.25rem);
    }
  
    &::after {
      transform: translate(-50%, -0.3rem);
      border: 0.3rem solid transparent;
      border-bottom: 0.3rem solid;
    }
  }
  
  [data-tooltip][data-placement="left"] {
    &::before,
    &::after {
      top: 50%;
      right: 100%;
      bottom: auto;
      left: auto;
      transform: translate(-0.25rem, -50%);
    }
  
    &::after {
      transform: translate(0.3rem, -50%);
      border: 0.3rem solid transparent;
      border-left: 0.3rem solid;
    }
  }
  
  [data-tooltip][data-placement="right"] {
    &::before,
    &::after {
      top: 50%;
      right: auto;
      bottom: auto;
      left: 100%;
      transform: translate(0.25rem, -50%);
    }
  
    &::after {
      transform: translate(-0.3rem, -50%);
      border: 0.3rem solid transparent;
      border-right: 0.3rem solid;
    }
  }
  
  // Animations for non-touch devices
  @media (hover: hover) and (pointer: fine) {
    [data-tooltip] {
      &:focus,
      &:hover {
        &::before,
        &::after {
          animation-duration: 0.2s;
          animation-fill-mode: forwards;
        }
  
        &::before {
          animation-name: tooltip-slide-top;
        }
  
        &::after {
          animation-name: tooltip-caret-slide-top;
        }
      }
    }
  
    [data-tooltip][data-placement="bottom"] {
      &:focus,
      &:hover {
        &::before {
          animation-name: tooltip-slide-bottom;
        }
  
        &::after {
          animation-name: tooltip-caret-slide-bottom;
        }
      }
    }
  
    [data-tooltip][data-placement="left"] {
      &:focus,
      &:hover {
        &::before {
          animation-name: tooltip-slide-left;
        }
  
        &::after {
          animation-name: tooltip-caret-slide-left;
        }
      }
    }
  
    [data-tooltip][data-placement="right"] {
      &:focus,
      &:hover {
        &::before {
          animation-name: tooltip-slide-right;
        }
  
        &::after {
          animation-name: tooltip-caret-slide-right;
        }
      }
    }
  }
  
  // Keyframe animations
  @keyframes tooltip-slide-top {
    from {
      transform: translate(-50%, 0.75rem);
      opacity: 0;
    }
    to {
      transform: translate(-50%, -0.25rem);
      opacity: 1;
    }
  }
  
  @keyframes tooltip-caret-slide-top {
    from {
      transform: translate(-50%, -0.25rem);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  
  @keyframes tooltip-slide-bottom {
    from {
      transform: translate(-50%, -0.75rem);
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0.25rem);
      opacity: 1;
    }
  }
  
  @keyframes tooltip-caret-slide-bottom {
    from {
      transform: translate(-50%, -0.5rem);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    to {
      transform: translate(-50%, -0.3rem);
      opacity: 1;
    }
  }
  
  @keyframes tooltip-slide-left {
    from {
      transform: translate(0.75rem, -50%);
      opacity: 0;
    }
    to {
      transform: translate(-0.25rem, -50%);
      opacity: 1;
    }
  }
  
  @keyframes tooltip-caret-slide-left {
    from {
      transform: translate(0.05rem, -50%);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    to {
      transform: translate(0.3rem, -50%);
      opacity: 1;
    }
  }
  
  @keyframes tooltip-slide-right {
    from {
      transform: translate(-0.75rem, -50%);
      opacity: 0;
    }
    to {
      transform: translate(0.25rem, -50%);
      opacity: 1;
    }
  }
  
  @keyframes tooltip-caret-slide-right {
    from {
      transform: translate(-0.05rem, -50%);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    to {
      transform: translate(-0.3rem, -50%);
      opacity: 1;
    }
  }
  
  // Color variants
  [data-tooltip][data-variant="primary"] {
    &::before {
      background: #1b6ec2;
    }
    &::after {
      color: #1b6ec2;
    }
  }
  
  [data-tooltip][data-variant="success"] {
    &::before {
      background: #28a745;
    }
    &::after {
      color: #28a745;
    }
  }
  
  [data-tooltip][data-variant="warning"] {
    &::before {
      background: #ffc107;
      color: #212529;
    }
    &::after {
      color: #ffc107;
    }
  }
  
  [data-tooltip][data-variant="danger"] {
    &::before {
      background: #dc3545;
    }
    &::after {
      color: #dc3545;
    }
  }
  
  [data-tooltip][data-variant="light"] {
    &::before {
      background: #fff;
      color: #212529;
      border: 1px solid #dee2e6;
    }
    &::after {
      color: #fff;
    }
  }
  
  // Size variants
  [data-tooltip][data-size="small"] {
    &::before {
      padding: 0.125rem 0.375rem;
      font-size: 0.75rem;
    }
  }
  
  [data-tooltip][data-size="large"] {
    &::before {
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
    }
  }