/**
 * Tooltip
 */

// Base tooltip styles
[data-tooltip] {
  position: relative;

  // Elements that aren't interactive get dotted underline
  &:not(a, button, input, [role="button"]) {
    border-bottom: 1px dotted;
    text-decoration: none;
    cursor: help;
  }

  // Tooltip bubble base
  &::before,
  &::after {
    display: block;
    z-index: 99;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--default-transition-duration) ease-in-out, transform var(--default-transition-duration) ease-in-out;
  }

  // Tooltip content
  &::before {
    padding: var(--spacing-02) var(--spacing-04);
    border-radius: var(--radius-sm);
    background: var(--background-high-contrast);
    content: attr(data-tooltip);
    color: var(--content-on-color);
    font-size: var(--desktop-body-sm);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // Tooltip caret
  &::after {
    content: "";
    background-color: transparent;
    color: var(--background-high-contrast);
  }

  // Show tooltip on hover and focus
  &:focus,
  &:hover {

    &::before,
    &::after {
      opacity: 1;
    }
  }
}

// Placement - Top (default)
[data-tooltip],
[data-tooltip][data-placement="top"] {

  &::before,
  &::after {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, calc(var(--spacing-02) * -1));
  }

  &::after {
    transform: translate(-50%, 0);
    border-top: var(--spacing-03) solid;
    border-right: var(--spacing-03) solid transparent;
    border-left: var(--spacing-03) solid transparent;
  }
}

// Placement - Bottom
[data-tooltip][data-placement="bottom"] {

  &::before,
  &::after {
    top: 100%;
    left: 50%;
    transform: translate(-50%, var(--spacing-02));
  }

  &::after {
    transform: translate(-50%, calc(var(--spacing-03) * -1));
    border: var(--spacing-03) solid transparent;
    border-bottom: var(--spacing-03) solid;
  }
}

// Placement - Left
[data-tooltip][data-placement="left"] {

  &::before,
  &::after {
    top: 50%;
    right: 100%;
    transform: translate(calc(var(--spacing-02) * -1), -50%);
  }

  &::after {
    transform: translate(var(--spacing-03), -50%);
    border: var(--spacing-03) solid transparent;
    border-left: var(--spacing-03) solid;
  }
}

// Placement - Right
[data-tooltip][data-placement="right"] {

  &::before,
  &::after {
    top: 50%;
    left: 100%;
    transform: translate(var(--spacing-02), -50%);
  }

  &::after {
    transform: translate(calc(var(--spacing-03) * -1), -50%);
    border: var(--spacing-03) solid transparent;
    border-right: var(--spacing-03) solid;
  }
}

// Animations for non-touch devices
@media (hover: hover) and (pointer: fine) {

  [data-tooltip]:focus,
  [data-tooltip]:hover {

    &::before,
    &::after {
      animation: var(--default-transition-duration) forwards ease-in-out;
    }

    &::before {
      animation-name: tooltip-slide-top;
    }

    &::after {
      animation-name: tooltip-caret-slide-top;
    }
  }

  [data-tooltip][data-placement="bottom"]:focus,
  [data-tooltip][data-placement="bottom"]:hover {
    &::before {
      animation-name: tooltip-slide-bottom;
    }

    &::after {
      animation-name: tooltip-caret-slide-bottom;
    }
  }

  [data-tooltip][data-placement="left"]:focus,
  [data-tooltip][data-placement="left"]:hover {
    &::before {
      animation-name: tooltip-slide-left;
    }

    &::after {
      animation-name: tooltip-caret-slide-left;
    }
  }

  [data-tooltip][data-placement="right"]:focus,
  [data-tooltip][data-placement="right"]:hover {
    &::before {
      animation-name: tooltip-slide-right;
    }

    &::after {
      animation-name: tooltip-caret-slide-right;
    }
  }
}

// Keyframe animations
@keyframes tooltip-slide-top {
  from {
    transform: translate(-50%, var(--spacing-05));
    opacity: 0;
  }
}

@keyframes tooltip-caret-slide-top {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}

@keyframes tooltip-slide-bottom {
  from {
    transform: translate(-50%, calc(var(--spacing-05) * -1));
    opacity: 0;
  }
}

@keyframes tooltip-caret-slide-bottom {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}

@keyframes tooltip-slide-left {
  from {
    transform: translate(var(--spacing-05), -50%);
    opacity: 0;
  }
}

@keyframes tooltip-caret-slide-left {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}

@keyframes tooltip-slide-right {
  from {
    transform: translate(calc(var(--spacing-05) * -1), -50%);
    opacity: 0;
  }
}

@keyframes tooltip-caret-slide-right {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}